#pizza-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: rgb(255, 78, 9);
  transition: 0.25s;
}
#pizza-background.loaded {
  background-color: #3e3e3e;
}

#pizza-background img {
  filter: blur(10px) saturate(3);
  transition: 02s;
  width: 100%;
  transform: scale(3);
  transition-delay: 0.25s;
  background-color: #ff9838;
}
#pizza-background.loaded img {
  transform: scale(1);
  filter: blur(0) saturate(0);
}
