#pizza-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

#pizza-background img {
  filter: blur(5px) saturate(0);
  transition: 02s;
  height: 100%;
  width: 100%;
  transform: scale(1.1);
}
#pizza-background.loaded img {
  filter: blur(0);
  transform: scale(1);
}
